USE [master]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Demo1Db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Demo1Db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13/01/2026 10:33:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 13/01/2026 10:33:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL DEFAULT (getdate()),
	[Email] [nvarchar](255) NULL,
	[IdCard] [nvarchar](50) NULL,
	[TaxCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 13/01/2026 10:33:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](max) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_InvoiceDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 13/01/2026 10:33:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TableId] [int] NULL,
	[CustomerId] [int] NULL,
	[InvoiceDate] [datetime2](7) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL DEFAULT ((0.0)),
	[VatAmount] [decimal](18, 2) NOT NULL DEFAULT ((0.0)),
	[CashierName] [nvarchar](max) NULL,
	[EndTime] [datetime2](7) NULL,
	[CustomerTaxCode] [nvarchar](13) NULL,
	[CustomerIdCard] [nvarchar](12) NULL,
	[CustomerEmail] [nvarchar](255) NULL,
	[CustomerAddress] [nvarchar](500) NULL,
	[CustomerName] [nvarchar](255) NULL,
	[CustomerPhone] [nvarchar](20) NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 13/01/2026 10:33:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NULL,
	[Category] [nvarchar](max) NOT NULL,
	[UnitType] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TableGroups]    Script Date: 13/01/2026 10:33:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableGroups](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TableGroups] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tables]    Script Date: 13/01/2026 10:33:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tables](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[TableGroupId] [int] NOT NULL,
	[CurrentInvoiceId] [int] NULL,
 CONSTRAINT [PK_Tables] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/01/2026 10:33:46 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251224102611_InitDemo1Db', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251225085543_AddVATToInvoice', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251225090507_AddSubtotalAndVatAmountToInvoice', N'8.0.0')
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Name], [Phone], [Address], [CreatedAt], [Email], [IdCard], [TaxCode]) VALUES (10, N'Nguyễn Văn A', N'0123456789', N'dfdf', CAST(N'2026-01-08 11:35:48.8215949' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Customers] ([Id], [Name], [Phone], [Address], [CreatedAt], [Email], [IdCard], [TaxCode]) VALUES (11, N'Trần Minh Dũng', N'1111111111', N'Hà Nội

', CAST(N'2026-01-08 11:39:39.8762705' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[Customers] ([Id], [Name], [Phone], [Address], [CreatedAt], [Email], [IdCard], [TaxCode]) VALUES (12, N'   xxcxc', N'4342343434', N'', CAST(N'2026-01-08 11:55:09.0243171' AS DateTime2), NULL, NULL, N'02555852')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[InvoiceDetails] ON 

INSERT [dbo].[InvoiceDetails] ([Id], [InvoiceId], [ProductId], [ProductName], [Quantity], [UnitPrice]) VALUES (62, 10, 15, N'Phở Bò', 1, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[InvoiceDetails] ([Id], [InvoiceId], [ProductId], [ProductName], [Quantity], [UnitPrice]) VALUES (63, 10, 25, N'Nước Suối', 1, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[InvoiceDetails] ([Id], [InvoiceId], [ProductId], [ProductName], [Quantity], [UnitPrice]) VALUES (64, 11, 22, N'Cà Phê Sữa', 1, CAST(25000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[InvoiceDetails] OFF
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([Id], [TableId], [CustomerId], [InvoiceDate], [Status], [TotalAmount], [Subtotal], [VatAmount], [CashierName], [EndTime], [CustomerTaxCode], [CustomerIdCard], [CustomerEmail], [CustomerAddress], [CustomerName], [CustomerPhone]) VALUES (10, 1, NULL, CAST(N'2025-12-25 16:24:20.0992271' AS DateTime2), N'paid', CAST(66000.00 AS Decimal(18, 2)), CAST(60000.00 AS Decimal(18, 2)), CAST(6000.00 AS Decimal(18, 2)), N'ADMIN', CAST(N'2025-12-25 16:24:20.0992271' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Invoices] ([Id], [TableId], [CustomerId], [InvoiceDate], [Status], [TotalAmount], [Subtotal], [VatAmount], [CashierName], [EndTime], [CustomerTaxCode], [CustomerIdCard], [CustomerEmail], [CustomerAddress], [CustomerName], [CustomerPhone]) VALUES (11, 6, NULL, CAST(N'2025-12-25 16:24:38.0894755' AS DateTime2), N'paid', CAST(27500.00 AS Decimal(18, 2)), CAST(25000.00 AS Decimal(18, 2)), CAST(2500.00 AS Decimal(18, 2)), N'ADMIN', CAST(N'2025-12-25 16:24:38.0894755' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Invoices] ([Id], [TableId], [CustomerId], [InvoiceDate], [Status], [TotalAmount], [Subtotal], [VatAmount], [CashierName], [EndTime], [CustomerTaxCode], [CustomerIdCard], [CustomerEmail], [CustomerAddress], [CustomerName], [CustomerPhone]) VALUES (12, 1, NULL, CAST(N'2025-12-25 16:24:53.1841592' AS DateTime2), N'paid', CAST(11000.00 AS Decimal(18, 2)), CAST(10000.00 AS Decimal(18, 2)), CAST(1000.00 AS Decimal(18, 2)), N'ADMIN', CAST(N'2025-12-25 16:24:53.1841592' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Invoices] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [Category], [UnitType]) VALUES (15, N'Phở Bò', CAST(50000.00 AS Decimal(18, 2)), 20, N'Bếp', N'Phần')
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [Category], [UnitType]) VALUES (16, N'Bún Thịt Nướng', CAST(45000.00 AS Decimal(18, 2)), 15, N'Bếp', N'Phần')
INSERT [dbo].[Products] ([Id], [Name], [Price], [Stock], [Category], [UnitType]) VALUES (17, N'Bánh Mì Chả', CAST(30000.00 AS Decimal(18, 2)), 25, N'Bếp', N'Cái')
SET IDENTITY_INSERT [dbo].[Products] OFF
SET IDENTITY_INSERT [dbo].[TableGroups] ON 

INSERT [dbo].[TableGroups] ([Id], [Name]) VALUES (1, N'Nhóm 1')
INSERT [dbo].[TableGroups] ([Id], [Name]) VALUES (2, N'Nhóm 2')
INSERT [dbo].[TableGroups] ([Id], [Name]) VALUES (3, N'Nhóm 3')
SET IDENTITY_INSERT [dbo].[TableGroups] OFF
SET IDENTITY_INSERT [dbo].[Tables] ON 

INSERT [dbo].[Tables] ([Id], [Name], [Status], [TableGroupId], [CurrentInvoiceId]) VALUES (1, N'Bàn 1', N'serving', 1, 35)
INSERT [dbo].[Tables] ([Id], [Name], [Status], [TableGroupId], [CurrentInvoiceId]) VALUES (2, N'Bàn 2', N'empty', 1, 31)
INSERT [dbo].[Tables] ([Id], [Name], [Status], [TableGroupId], [CurrentInvoiceId]) VALUES (3, N'Bàn 3', N'empty', 1, 25)
SET IDENTITY_INSERT [dbo].[Tables] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password]) VALUES (1, N'admin', N'1')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_InvoiceDetails_InvoiceId]    Script Date: 13/01/2026 10:33:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_InvoiceDetails_InvoiceId] ON [dbo].[InvoiceDetails]
(
	[InvoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_CustomerId]    Script Date: 13/01/2026 10:33:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_CustomerId] ON [dbo].[Invoices]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_TableId]    Script Date: 13/01/2026 10:33:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_TableId] ON [dbo].[Invoices]
(
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tables_TableGroupId]    Script Date: 13/01/2026 10:33:46 AM ******/
CREATE NONCLUSTERED INDEX [IX_Tables_TableGroupId] ON [dbo].[Tables]
(
	[TableGroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Invoices_InvoiceId] FOREIGN KEY([InvoiceId])
REFERENCES [dbo].[Invoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Invoices_InvoiceId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers_CustomerId]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Tables_TableId] FOREIGN KEY([TableId])
REFERENCES [dbo].[Tables] ([Id])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Tables_TableId]
GO
ALTER TABLE [dbo].[Tables]  WITH CHECK ADD  CONSTRAINT [FK_Tables_TableGroups_TableGroupId] FOREIGN KEY([TableGroupId])
REFERENCES [dbo].[TableGroups] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tables] CHECK CONSTRAINT [FK_Tables_TableGroups_TableGroupId]
GO
USE [master]
GO
